/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    behaviors {
        special_colon: special_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "SPECIAL_COLON";
            bindings = <&kp RS(N)>, <&kp RS(DOT)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        alt_colon: alt_colon {
            compatible = "zmk,behavior-hold-tap";
            label = "ALT_COLON";
            bindings = <&kp>, <&special_colon>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |       |       |  Y  |  U  |  I  |  O  |  P  | LGUI |
            // |  ESC |  A  |  S  |  D  |  F  |  G  |       |       |  H  |  J  |  K  |  L  |  ;  |  ALT |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M  |  ,  |  .  |  /  | SHFT |
            //                    | CTRL| SPC | ENT |               | DEL | BSPC| ALTG| 
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &none  &none &kp Y &kp U &kp I     &kp O    &kp P    &kp LGUI
              &lt 3 ESC   &kp A &kp S &kp D &kp F &kp G &none  &none &kp H &kp J &kp K     &kp L    &kp SEMI &alt_colon LEFT_ALT 0
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B              &kp N &kp M &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                            &kp LCTRL &lt 1 SPACE &kp RET            &kp DEL &lt 2 BSPC &kp RALT 
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NUM";
            // -----------------------------------------------------------------------------------------
            // | TRNS|  F1 |  F2 |  F3 |  F4 |  F5 |     |     |  F6 |  F7 |  F8 |  F9 |  F0 | TRNS|
            // | TRNS|  1  |  2  |  3  |  4  |  5  |     |     |  6  |  7  |  8  |  9  |  0  | TRNS|
            // | TRNS|     |     |     |     |     |           |     |     |     |     |     | TRNS|
            //                   | TRNS| TRNS| TRNS|           | TRNS| TRNS| TRNS|
            bindings = <
                &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &none  &none &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &trans
                &trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &none  &none &kp N6 &kp N7 &kp N8 &kp N9 &kp N0  &trans
                &trans &none  &none  &none  &none  &none               &none  &none  &none  &none  &none   &trans
                                     &trans &trans &trans              &trans &trans &trans
            >;
        };

        raise_layer {
            display-name = "NAV";
            // -----------------------------------------------------------------------------------------
            // | TRNS| PREV |  PP  | NEXT |     |     |     |     | HOME|PG_DN|PG_UP| END |     | TRNS|
            // | TRNS| MUTE |VOL_DN|VOL_UP|     |     |     |     | LEFT| DOWN|  UP |RIGHT|     | TRNS|
            // | TRNS|      |      |      |     | RGB |           |     |     |     |     |     | TRNS|
            //                     | TRNS | TRNS| TRNS|           | TRNS| TRNS| TRNS|
            bindings = <
                &trans &kp C_PREV &kp C_PP     &kp C_NEXT   &none  &none &none  &none &kp HOME &kp PG_DN &kp PG_UP &kp END   &none &trans
                &trans &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none  &none &none  &none &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none &trans
                &trans &none      &none        &none        &none  &rgb_ug RGB_TOG    &none    &none     &none     &none     &none &trans
                                               &trans       &trans &trans             &trans   &trans    &trans
            >;
        };

        extra_layer_1 {
            display-name = "MOUSE";
            // -----------------------------------------------------------------------------------------
            // | TRNS| BTCR|       | MV_UP|        | SCRL_UP|     |     | KP_/|KP_N7|KP_N8|KP_N9| KP_-| TRNS|
            // | TRNS|     |MV_LEFT|MV_DWN|MV_RIGHT|SCRL_DWN|     |     | KP_*|KP_N4|KP_N5|KP_N6| KP_+| TRNS|
            // | TRNS| BT1 |  BT2  |  BT3 |  BT4   |  BT5   |           | KP_0|KP_N1|KP_N2|KP_N3| KP_.| TRNS|
            //                     | MCLK |  LCLK  |  RCLK  |           | TRNS| TRNS| TRNS|
            bindings = <
                &trans &bt BT_CLR   &none          &mmv MOVE_UP   &none           &msc SCRL_UP   &none  &none &kp KP_DIVIDE   &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &trans
                &trans &none        &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_DOWN &none  &none &kp KP_MULTIPLY &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS  &trans
                &trans &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3    &bt BT_SEL 4                &kp KP_N0       &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_DOT   &trans
                                                   &mkp MCLK      &mkp LCLK       &mkp RCLK                   &trans          &trans    &trans       
            >;
        };
    };
};
